<style>
  #content {
    padding-left: 348px;
  }

  #top-menu {
    padding-left: 300px;
  }
  
</style>
<div class="ui desktop only grid">
  <div class="ui huge top fixed menu" id="top-menu">
    <div class="item">
      dcsomdcposmdpocm
    </div>
    <a class="item">Features</a>
    <a class="item">Testimonials</a>
    <a class="item">Sign-in</a>
  </div>
  <div class="ui huge left fixed borderless inverted vertical menu">
    <div class="item">
      fiodifnvoin
    </div>
    <a class="item">Features</a>
    <a class="item">Testimonials</a>
    <a class="item">Sign-in</a>
  </div>
  
  <div class="ui padded grid" id="content">
    <br>
    <br>
    sdcnsdicnsoidncoisndocinsspodcmpsodmcposmdcposdmcpomsdpcosmdpcomsdpcmsdpocmspdomcpsdomc
  </div>
</div>