{{!-- template-lint-disable no-inline-styles --}}
<style>
  #content {
    padding-left: 280px;
  }

  #top-menu {
    padding-left: 250px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #sidebar {
    background-color: #1C45EF !important;
  }

  #sidebar-header {
    color: white;
    font-weight: 400;
  }

  #sidebar-img {
    border-radius: 100px;
  }

  #mobmenu {
    background-color: #1C45EF !important;
  }

  #mobtopmenu {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menu-items {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
  
</style>

<script>
  function toggleSidebar() {
    $('.ui.sidebar').sidebar('toggle');
  }
</script>

<div class="ui computer only padded grid">
  <div class="ui large top borderless fixed menu" id="top-menu">
    <a href="" class="item">
      Money Transfer
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="far fa-bell"></i>
        <div class="menu">
          <a href="" class="item"> <i class="trash icon"></i> Remittance sended</a>
          <a href="" class="item"> <i class="trash icon"></i> Created new user</a>
        </div>
      </div>
      <a class="item">
        <i class="envelope outline icon"></i>
      </a>
      <a class="item">
        <img src="/profile.png" alt="" class="ui avatar image">
      </a>
    </div>
  </div>
  <div class="ui large left fixed borderless inverted vertical menu" id="sidebar">
    <a class="header item">
      <h2 class="ui medium header" id="sidebar-header">
        <img src="https://eu.ui-avatars.com/api/?name=Zubeir+Mohamed" class="ui medium image" id="sidebar-img" alt="">
        ZubeirTech
      </h2>
    </a>
    <div class="item"></div>
    <div class="item">
      <p>Main Menu</p>
      <div class="ui divider" style="background-color: #D8D8D8;"></div>
    </div>
    {{#link-to "dashboard" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Dashboard
    {{/link-to}}
    {{#if model.client.admin}}
      {{#link-to "user" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; User Management
      {{/link-to}}
    {{/if}}
    {{#link-to "branch" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Branch Management
    {{/link-to}}
    {{#link-to "remittance" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Remittance Management
    {{/link-to}}
    {{#link-to "customer" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Customer Management
    {{/link-to}}
    {{#link-to "settlement" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Settlements
    {{/link-to}}
    {{#link-to "report" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Reports
    {{/link-to}}
    {{#link-to "manual-journey" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Manual Journey
    {{/link-to}}
    {{#link-to "deposit" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Deposit
    {{/link-to}}
    {{#link-to "downloads" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Downloads
    {{/link-to}}
    {{#link-to "online-remittances" class="item menu-items"}}
      <i class="fas fa-genderless fa-lg"></i> &nbsp; Online Remittances
    {{/link-to}}
  </div>
  <div class="sixteen wide column" id="content">
    {{outlet}}
  </div>  
</div>

<div class="ui tablet only mobile only padded grid">
  <div class="ui top fixed borderless fluid menu" id="mobtopmenu">
    <div class="item">
      <button class="ui icon toggle basic secondary button" onclick="toggleSidebar()">
        <i class="content icon"></i>
      </button>
    </div>
    <div class="right menu">
      <a href="/" class="header item" id="mobmenuheader">
        Money Transfer
      </a>
    </div>
    <div class="ui left demo vertical borderless inverted sidebar menu" id="mobmenu">
      <a class="header item">
        <h2 class="ui medium header" id="sidebar-header">
          <img src="https://eu.ui-avatars.com/api/?name=Zubeir+Mohamed" class="ui medium image" id="sidebar-img" alt="">
          ZubeirTech
        </h2>
      </a>
      <div class="item"></div>
      <div class="item">
        <p>Main Menu</p>
        <div class="ui divider" style="background-color: #D8D8D8;"></div>
      </div>
      {{#link-to "dashboard" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Dashboard
      {{/link-to}}
      {{#if model.client.admin}}
        {{#link-to "user" class="item menu-items"}}
          <i class="fas fa-genderless fa-lg"></i> &nbsp; User Management
        {{/link-to}}
      {{/if}}
      {{#link-to "branch" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Branch Management
      {{/link-to}}
      {{#link-to "remittance" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Remittance Management
      {{/link-to}}
      {{#link-to "customer" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Customer Management
      {{/link-to}}
      {{#link-to "settlement" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Settlements
      {{/link-to}}
      {{#link-to "report" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Reports
      {{/link-to}}
      {{#link-to "manual-journey" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Manual Journey
      {{/link-to}}
      {{#link-to "deposit" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Deposit
      {{/link-to}}
      {{#link-to "downloads" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Downloads
      {{/link-to}}
      {{#link-to "online-remittances" class="item menu-items"}}
        <i class="fas fa-genderless fa-lg"></i> &nbsp; Online Remittances
      {{/link-to}}
    </div>
  </div>
  <div class="sixteen wide column">
    {{outlet}}
  </div>
</div>