{{!-- template-lint-disable no-inline-styles --}}

<br>
<br>
<br>
<br>

<style>
  .myform {
    border-radius: 0px !important;
    border: 1px solid #AEAEAE !important;
    background-color: transparent !important;
  }

  button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400!important;
  }

  .approve {
    background-color: #2B80FF !important;
    color: white!important;
  }

  .mt-regular {
    background-color: #DDE4EB !important;
  }


  .mt-dark {
    color: #001737 !important;
  }

  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }

  
</style>

<h2 class="ui medium header main">
  Dashboard
</h2>

<div class=""></div>
<div class="ui small stackable raised segment">
  <h3 class="ui main header">
    Currencies used in Money Transfer
  </h3>
  {{vertical-bar-chart data=tsData selectedSeedColor="rgb(80, 220, 100)"}}
</div>
<div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui small stackable raised segment">
      <h3 class="ui main header">
        Payment Methods used in Transfer
      </h3>
      {{pie-chart data=data maxRadius=1000 selectedSeedColor="rgb(255, 211, 0)"}}
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui small stackable raised segment">
      {{ember-chart type="line" data=ldata}}
    </div>
  </div>
</div>


{{outlet}}