{{!-- template-lint-disable no-inline-styles --}}

<br>
<br>
<br>
<br>

<style>
  .myform {
    border-radius: 0px !important;
    border: 1px solid #AEAEAE !important;
    background-color: transparent !important;
  }

  button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400!important;
  }

  .approve {
    background-color: #2B80FF !important;
    color: white!important;
  }

  .mt-regular {
    background-color: #DDE4EB !important;
  }


  .mt-dark {
    color: #001737 !important;
  }

  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }

  
</style>

<h2 class="ui medium header main">
  Dashboard
</h2>

{{outlet}}